body {
}

table
{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
}
th
{
background-color:#e8eef4;
border:1px solid #c3c3c3;
padding:3px;
}
td 
{
border:1px solid #c3c3c3;
padding:3px;
}
